@import '~src/styles/globals';

.assets {
  $assetsRef: &;

  --items-per-row: 2;

  overflow-x: hidden;
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--items-per-row), minmax(0, 1fr));
  gap: 16px 24px;

  &._compact {
    gap: 12px;
  }

  @mixin isStatic {
    #{$assetsRef}._static & {
      @content;
    }
  }

  @mixin isCompact {
    #{$assetsRef}._compact & {
      @content;
    }
  }

  &Item {
    --br: 8px;
    position: relative;
    cursor: pointer;

    @include isStatic {
      cursor: auto;
    }

    &:after {
      content: '';
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--br);
      border: 2px solid #9A64F3;
      opacity: 0;
      will-change: opacity;
      transition: opacity 0.3s;
      pointer-events: none;
    }

    &._selected {

      &:after {
        opacity: 1;
      }
    }

    &Img {
      position: relative;
      padding-bottom: 100%;
      border-top-left-radius: var(--br);
      border-top-right-radius: var(--br);
      background: var(--plc-bg);

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
      }
    }

    &Content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 44px;
      padding: 0 20px;
      border: 1px solid #EEEEEE;
      border-top: none;
      border-bottom-left-radius: var(--br);
      border-bottom-right-radius: var(--br);
      font-size: 14px;
      font-weight: 500;
      color: #2A1A44;

      p {
        @include overflowedText;
      }

      @include isCompact {
        height: 28px;
        font-size: 12px;
      }
    }
  }
}


