@import '~src/styles/globals';

.widget {
  $widgetRef: &;

  --widget-br: 20px;
  --pad-x: 20px;
  --button-h: 36px;
  --plc-bg: linear-gradient(131.55deg, #347AE3 5.34%, #C471ED 100%);
  --footer-with-previews-bg-color: #F6F3FF;
  --preview-size: 40px;

  position: relative;
  max-width: 100%;
  background: #fff;
  border-radius: var(--widget-br);

  &._mobile {
    width: 360px;
  }

  &Heading {
    font-size: 20px;
    font-weight: 500;
    color: #111111;
  }

  button {
    height: var(--button-h);
    padding: 0 16px;
    will-change: opacity;
    transition: opacity 0.3s;

    &:disabled {
      background: #D2D2D2;
      color: #eeeeee;
      pointer-events: none;
    }

    &._borderStyle {
      color: #B288F6;
      border: 1px solid currentColor;
      background: transparent;

      svg {
        fill: currentColor;
      }

      &:disabled {
        background: transparent;
        color: #D2D2D2;
      }
    }
  }

  &Header {
    --step-circle-size: 40px;

    z-index: 3;
    position: relative;
    padding-top: 22px;
    background: #F6F3FF;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    &._withSteps {
      padding-bottom: 36px;
    }

    &Top {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 var(--pad-x);
      margin-bottom: 28px;

      --addressbox-text-color: #111111;
      --addressbox-border-color: #D2D2D2;
      --addressbox-bg-color: transparent;
    }

    &Text {
      position: relative;
      text-align: center;

      h3 {
        margin-bottom: 4px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        color: #111111;
      }

      p {
        font-size: 14px;
        line-height: 20px;
        color: #6B6B6B;
      }
    }

    &Steps {
      position: absolute;
      left: 0;
      bottom: calc(var(--step-circle-size) / -2);
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: var(--step-circle-size);
      padding: 0 28px;
    }

    &Step {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--step-circle-size);
      height: var(--step-circle-size);
      border-radius: 50%;
      background: #E1D2FB;
      transition: background-color 0.3s;
      will-change: background-color;

      svg {
        transition: fill 0.3s;
      }

      &._active {
        background: #9A64F3;

        svg {
          fill: #E1D2FB;
        }
      }
    }
  }

  &Nav {
    position: relative;
    display: flex;

    &Tab {
      --nav-num-of-items: 2;

      position: relative;
      display: flex;
      justify-content: center;
      width: calc(100% / var(--nav-num-of-items));
      padding: 4px 0;
      font-size: 16px;
      color: #111111;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #8442F0;
        opacity: 0;
        will-change: opacity;
        transition: opacity 0.3s;
      }

      &._active {
        color: #8442F0;
        pointer-events: none;

        &:after {
          opacity: 1;
        }
      }
    }
  }

  &Content {
    position: relative;
    padding-top: 28px;

    &._listingFlow {
      padding-top: 48px;
    }

    &Header {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: var(--button-h);
      padding: 0 var(--pad-x);
      margin-bottom: 28px;
    }

    &Inner {
      overflow-y: auto;
      position: relative;
      max-height: 480px;
      padding: 0 var(--pad-x) 20px;
    }

    &Footer {
      position: relative;
      padding: 24px 0 20px;
      will-change: background-color;
      transition: background-color 0.3s;
      border-bottom-left-radius: var(--widget-br);
      border-bottom-right-radius: var(--widget-br);

      &._withLogo {
        display: flex;
        justify-content: center;
        padding-bottom: 28px;
      }

      &._withPreviews {
        background: var(--footer-with-previews-bg-color);
      }

      &Inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 14px;
        min-height: var(--button-h);
        padding: 0 var(--pad-x);
      }

      &Substeps {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 14px;
        color: #6B6B6B;
        pointer-events: none;
      }

      &Confirm {
        display: flex;
        align-items: center;
        column-gap: 12px;
      }
    }
  }

  &Previews {
    position: relative;
    display: flex;
    column-gap: 8px;
    height: var(--preview-size);
  }

  &Preview {
    position: relative;
    width: var(--preview-size);
    height: var(--preview-size);
    border-radius: 2px;
    border: 1px solid #9A64F3;

    &Inner {
      position: relative;
      height: 100%;
      background: var(--plc-bg);
      border-radius: inherit;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
      }
    }

    &Remove {
      --remove-size: 16px;

      z-index: 1;
      position: absolute;
      right: calc(var(--remove-size) / -2);
      top: calc(var(--remove-size) / -2);
      width: var(--remove-size);
      height: var(--remove-size);
      background: #FF3562;
      border: 2px solid var(--footer-with-previews-bg-color);
      border-radius: 50%;
      cursor: pointer;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 8px;
        height: 2px;
        margin-left: -4px;
        margin-top: -1px;
        border-radius: 2px;
        background: #F5F5F5;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
