@import './styles/globals';
@import './styles/global-layout';

@keyframes flashingAnimKeyframes {
  50% {
    opacity: 0.4;
  }
}

@mixin flashingAnimation($animTime: 1.5s, $isGlobalClassName: false) {
  $rule: flashingAnimKeyframes $animTime ease-in-out infinite;

  @if ($isGlobalClassName) {
    animation: $rule;
  } @else {
    :global {
      animation: $rule;
    }
  }
}

.g-processing {
  @include flashingAnimation(1.5s, true);
  pointer-events: none;
}
