@mixin overflowedText($lines: 1, $force: false, $noEllipsis: false) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if ($lines > 1) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    @if ($force) {
      white-space: normal;
    }
    @if ($noEllipsis) {
      text-overflow: initial;
    }
  } @else {
    white-space: nowrap;
  }
}
